{% extends 'base.html' %} {% block body %}


  <section class="banner-1"></section>

  <section class="welcome">
    <div class="container py-md-4 mt-md-3">
      <h2 class="text-4xl font-extrabold dark:text-white">Cheapest MBBS in World</h2>
      <span class="w3-line black"></span>
      <div class="row about-tp mt-md-5 pt-5">
        <div class="col-lg-6 welcome-left">
            <h3 style="color: red; font-size: 24px;">ADA Abroad</h3>

          <p class="mt-4 mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
            Looking for Cheapest MBBS in the world ? <br />Tution Fee Starts @
            <strong>2.3 Lakhs / Year</strong> - Study mbbs abroad at low cost
            with good quality of education.<br />
            MBBS in Russia , Kazakhstan &amp; Kyrgyztan offers lowest fees for
            MBBS in abroad for Indian Students under Rs 20 Lakhs Study in
            Globally recognised top NMC &amp; WHO approved medical universities
            at affordable&nbsp;tuition fees, best infrastructure, labs &amp;
            hostel Facilities, Indian Mess, International exposure etc
          </p>
        </div>

        <div class=" mt-4 col-lg-12">
          <p >
            <strong
              >MBBS in Russia lowest Package under 20 lakhs ( 6 Years Tution fee
              , Hostel &amp; Mess)</strong
            ><br />
            1. Kuban State Medical University <br />2. Petrozavodsk State
            University <br />3. Kabardino-Balkarian State University <br />
            <strong
              >MBBS in Kyrgyztan lowest Package under 18 lakhs ( 5 Years Tution
              fee , Hostel &amp; Mess)</strong
            ><br />
            1. Osh State Medical University <br />2. Jalalabad State Medical
            University <br />3. Asian Medical Institute 4. Salymbekov Medical
            University <br />
            <strong
              >MBBS in Kazakhstan lowest Package under 20 lakhs ( 5 Years Tution
              fee , Hostel &amp; Mess)</strong
            ><br />
            1. Semey State Medical University <br />2. Astana Medical University
            <br />3. South Kazakh Medical Academy <br />4. Karaganda state
            medical university <br />5.West Kazakhstan Marat Ospanov State
            Medical University
          </p>
          <h3 style="color: rgb(7, 160, 45); font-size: 32px; margin-top: 10px; margin-bottom: 10px;">
            Country Wise List Of Top Mbbs Universities Within Your Budget!
          </h3>
          
          <p class="mb-4 ">
            Note: Budget includes College Tuition Fees, Food, Accommodation,
            Admission Fees, Visa fees and Air Ticket expenses
          </p>
          <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th>Country</th>
                <th>Duration of Course(Years)</th>
                <th>
                  Budget (in ₹) = College Tuition Fees, Food, Accommodation
                </th>
              </tr>
            </thead>
            <tbody>
              <tr style="color: #000">
                <td><a href="mbbs_in_russia.php">MBBS in Russia</a></td>
                <td>5.8</td>
                <td>
                  <a href="Russia_Kazan_State_Medical_University.php"
                    >Kazan Federal University = ₹35-37 lakh</a
                  >
                  <br />
                  <a href="Russia_Bashkir_State_Medical_University.php"
                    >Bashkir State Medical University = ₹25-27 lakh</a
                  >
                  <br />
                  Petrozavodsk State University = ₹ 19-21 lakhs<br />
                  Kazan State Medical University = ₹ 33-34 lakhs<br />
                  Kabardino-Balkarian State University = ₹ 20-22 lakhs<br />
                  Crimea Federal University = ₹ 24-26 lakhs<br />
                  Mordovia State University = ₹26-27 lakh <br />
                  Ulyanovsk State University = ₹26-27 lakh <br />
                  Kuban State Medical University = ₹ 19-21 lakhs<br />
                  Altai State University = ₹27-20 lakh <br />
                  <a href="Russia_Northern_State_Medical_University.php"
                    >North Occetian State Medical Academy = ₹25 lakh</a
                  >
                  <br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="mbbs_in_india.php">MBBS in Nepal</a></td>
                <td>5 Year</td>
                <td>
                  MANIPAL : ₹65 LAC lakh<br />
                  COMS : ₹62 lakh<br />
                  CHITWAN : ₹58 lakh<br />
                  KATHMANDU : ₹52 lakh<br />
                  Lumbini: ₹52 lakh<br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="mbbs_in_bangladesh.php">MBBS in Bangladesh</a></td>
                <td>5</td>
                <td>
                  Universal College Bangladesh Dhaka = ₹ 29-31 lakhs<br />
                  Tairunnessa Memorial Medical College &amp; Hospital = ₹ 32-34
                  lakhs<br />
                  <a href="mbbs_in_bangladesh.php"
                    >Bangladesh Medical College</a
                  >
                  = ₹40 lakh <br />
                  <a href="Bangladesh_ZH_Sikder.php"
                    >Z. H. Sikder Women's Medical College = ₹35 lakh</a
                  >
                  <br />
                  <a href="Bangladesh_Tairunnessa_Medical_College.php"
                    >Tairunnessa Memorial Medical College = ₹30 lakh
                  </a>
                  <br />
                  Jahurul Islam Medical College = ₹30 lakh <br />
                  <a href="Bangladesh_Enam_Medical_College.php"
                    >Enam Medical College &amp; Hospital = ₹35 lakh</a
                  >
                  <br />
                  Delta Medical College = ₹30 lakh <br />
                  Ad-Din Women's Medical College = ₹32-35 lakh <br />
                  Dhaka National Medical College = ₹38 lakh <br />
                  North-East Medical College = ₹30 lakh <br />
                  <a href="Bangladesh_Green_Life_Medical_College.php"
                    >Green Life Medical Collge = ₹34 lakh</a
                  >
                  <br />
                  Southern Medical College = ₹27 lakh <br />
                  Mainamoti Medical College = ₹28-30 lakh <br />
                  Sylhet Women's Medical College = ₹29 lakh <br />
                  Anwer Khan Modern Medical College = ₹33 lakh <br />
                  Kumudini Women's Medical College = ₹33 lakh <br />
                  Ragib Rabeya Medical College = ₹32-35 lakh <br />
                  Universal Medical College = ₹30 lakh <br />
                  Central Medical College = ₹30 lakh <br />
                  TMSS Medical College = ₹28 lakh
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="mbbs_in_kyrgyzstan.php">MBBS in Kyrgyzstan</a></td>
                <td>5</td>
                <td>
                  Salymbekov Medical University, Bishkek = ₹ 15-17 lakhs <br />
                  Asian Medical Institute= ₹17-18 lakh <br />
                  Kyrgyz State Medical Academy= ₹23-24 lakh <br />
                  <a href="Kyrgyzstan_International_School_of_Medicine.php"
                    >International School of Medicine= ₹23-24 lakh</a
                  >
                  <br />
                  <a href="Kyrgyzstan_OSH_State_University.php"
                    >Osh State University= ₹17-18 lakh</a
                  >
                  <br />
                  <a href="Kyrgyzstan_Jalal_Abad_State_University.php"
                    >Jalalabad State University = ₹17-18 lakh</a
                  >
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="mbbs_in_china.php">MBBS in China</a></td>
                <td>5+1 year Internship</td>
                <td>
                  Nanjing Medical University = ₹ 24-26 lakhs<br />
                  Fujian Medical University = ₹ 24-26 lakhs<br />
                  Kunming Medical University = ₹ 24-26 lakhs<br />
                  Anhui Medical University = ₹ 22-24 lakhs<br />
                  Southeast University = ₹ 24-26 lakhs<br />
                  North Sichuan Medical College = ₹ 24-26 lakhs<br />
                  Xiamen University = ₹ 25-27 lakhs<br />
                  Yangzhou University = ₹ 22-24 lakhs<br />
                  Wenzhou Medical University = ₹ 22-24 lakhs<br />
                  Soochow University = ₹ 24-26 lakhs<br />
                  Guangxi Medical University= ₹30 lakh <br />
                  Guangzhou Medical University= ₹28 lakh <br />
                  Guilin Medical University= ₹20 lakh <br />
                  Hunan Normal University= ₹20 lakh <br />
                  University of South China= ₹20 lakh <br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="mbbs_in_india.php">MBBS in Kazakhstan</a></td>
                <td>5 Year</td>
                <td>
                  Asfendiyarov Kazakh National Medical University = ₹ 30-32
                  lakhs<br />
                  Semey State Medical University = ₹ 19-21 lakhs<br />
                  Alfarabi Kazakh National Medical University = ₹ 24-25 lakhs<br />
                  Karaganda Medical University = ₹ 20-22 lakhs<br />
                  Astana Medical University = ₹ 23-24 lakhs<br />
                  South Kazakhstan Medical Academy = ₹ 19-21 lakhs<br />
                  West Kazakhstan Marat Ospanov State Medical University = ₹
                  19-20 lakhs
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="mbbs_in_india.php">MBBS in Mauritius</a></td>
                <td>5 Year</td>
                <td>
                  Anna Medical College = ₹ 50-52 lakhs<br />
                  SSR Medical College = ₹ 55-56 lakhs
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="mbbs_in_india.php">MBBS in India</a></td>
                <td>5.5 Including Internship</td>
                <td>Start From ₹45 lakh (private colleges)<br /></td>
              </tr>
            </tbody>
          </table>
          <p>Please note that the figures are an approximate value.</p>
          <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th>State</th>
                <th>Budget (in ₹) = College Tuition Fees</th>
              </tr>
            </thead>
            <tbody>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in Punjab</a></td>
                <td>
                  DAYANAND MEDICAL COLLEGE (DMC): 9.92 Lakh <br />
                  PUNJAB INSTITUTE MEDICAL SCIENCES (PIMS): 9.92 Lakh <br />
                  AADESH MEDICAL COLLEGE: 9.92 Lakh <br />
                  GIAN SAGAR MEDICAL COLLGE: 9.92 Lakh <br />
                  WHITE MEDICAL COLLEGE (CHINTPURNI): 9.92 Lakh <br />
                  CHRISTIAN MEDICAL COLLEGE (CMC): 6.6 Lakh <br />
                  SRI GURU RAM DAS MEDICAL COLLEGE (SGRD): 9.92 Lakh <br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in Haryana</a></td>
                <td>
                  AADESH MEDICAL COLLEGE, AMBALA: 12 Lakh <br />
                  NC MEDICAL COLLEGE , PANIPAT: 12 Lakh <br />
                  WORLD MEDICAL COLLEGE , JHAJJAR: 12 Lakh <br />
                  SGT MEDICAL COLLEGE , GURGAON: 18 Lakh <br />
                  AL FALAH MEDICAL COLLEGE, FARIDABAD: 14.25 Lakh <br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in Rajasthan</a></td>
                <td>
                  MAHATMA GANDHI MEDICAL COLLEGE (JAIPUR): 26.76 Lakh <br />
                  JAIPUR NATIONAL UNIVERSITY (JNU): 12 Lakh <br />
                  NATIONAL INST. OF MEDICAL SCIENCE , (NIMS): 20 Lakh <br />
                  TANTIA MEDICAL COLLEGE (GANGANAGAR): 19.80 Lakh <br />
                  GEETANJALI MEDICAL COLLEGE (UDAIPUR): 26 Lakh <br />
                  AMERICAN MEDICAL COLLEGE (UDAIPUR): 24 Lakh <br />
                  ANANTA MEDICAL COLLEGE (UDAIPUR): 24 Lakh <br />
                  PACIFIC MEDICAL COLLEGE HOSPITAL (PMCH): 26 Lakh <br />
                  PACIFIC INST. OF MEDICAL SCIENCES (PIMS): 28 Lakh <br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in UTTARAKHAND</a></td>
                <td>
                  IMALAYAN INST. OF MEDICAL SCIENCE (HIMS) :18 Lakh<br />
                  SRI GURU RAM RAI INST. OF MEDICAL COLLEGE : 13.22Lakh<br />
                  GAUTAM BUDDHA MEDICAL COLLEGE: 13.22Lakh<br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in HIMACHAL PRADESH</a></td>
                <td>
                  MAHARISHI MARKANDESHWAR MEDICAL COLLEGE &amp; HOSPITAL, SOLAN
                  : 14.50 Lakh
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in ODISHA</a></td>
                <td>
                  HI-TECH MEDICAL COLLEGE $ HOSPITAL , BHUBANESWAR<br />
                  HI-TECH MEDICAL COLLEGE $ HOSPITAL , ROURKELA
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in PONDICHERRY</a></td>
                <td>
                  SRI LAKSHMI NARAYANA INST. OF MEDICAL SCIENCES<br />
                  SRI VENKATESWARA MEDICAL COLLEGE<br />
                  MGMCRI PUDUCHERRY<br />
                  SRI MANAKULA VINAYAGAR MEDICAL COLLEGE<br />
                </td>
              </tr>
              <tr style="color: #000">
                <td>
                  <a href="punjab_seats.php"
                    >MBBS in MADHYA PRADESH (NRI QUOTA)</a
                  >
                </td>
                <td>
                  LNCT MEDICAL COLLEGE (BHOPAL):41.68 Lakh<br />
                  PEOPLE MEDICAL COLLEGE (BHOPAL):22 Lakh<br />
                  CHIRAYU MEDICAL COLLEGE (BHOPAL):34.23 Lakh<br />
                  MAHAVEER MEDICAL COLLEGE:24.99 Lakh<br />
                  RKDF MEDICAL COLLEGE:36.15 Lakh<br />
                  SUKH SAGAR MEDICAL COLLEGE:24.99 Lakh<br />
                  AMALTAS MEDICAL COLLEGE (DEWAS):31.83 Lakh<br />
                  RD GARDI MEDICAL COLLEGE (UJJAIN):24.99 Lakh<br />
                  SRI AUROBINDO MEDICAL COLLEGE (INDORE):37.84 Lakh<br />
                  INDEX MEDICAL COLLEGE (INDORE):40.21 Lakh<br />
                  LNCT MEDICAL COLLEGE (INDORE):36.72 Lakh<br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in MAHARASHTRA</a></td>
                <td>
                  KJ SOMAIYYA MEDICAL COLLEGE , (MUMBAI)<br />
                  TERNA MEDICAL COLLEGE, (NAVI MUMBAI)<br />
                  MAEER'S M.I.M.E.R. MEDICAL COLLEGE , (PUNE)<br />
                  N.K.P. SALVE INST. OF MEDICAL SCIENCES (NAGPUR)<br />
                  M.I.M.S.R. MEDICAL COLLEGE, (LATUR)<br />
                  SMT. KASHIBAI NAVALE MEDICAL COLLEGE (PUNE)<br />
                  PRAKASH INST. OF MEDICAL SCIENCES (SANGLI)<br />
                  DR. VASANTRAO PAWAR MEDICAL COLLEGE, (NASHIK)<br />
                  PAD. V.V. PATIL MEDICAL COLLEGE (AHMADNAGAR)<br />
                  MAHATMA GANDHI MISSIONS MEDICAL COLLEGE <br />
                  BHARATI VIDYAPEETH MEDICAL COLLEGE (PUNE)<br />
                  PADMASHREE DR. DY PATIL MEDICAL COLLEGE (PUNE)<br />
                  PRAVARA INST. OF MEDICAL SCIENCES (LONI)<br />
                  DR. DY PATIL MEDICAL COLLEGE (KOLHAPUR)<br />
                  INST. OF MEDICAL SCIENCES AND RESEARCH (SATARA)<br />
                  JAWAHARLAL NEHRU MEDICAL COLLEGE (WARDHA)<br />
                  KRISHNA INST. OF MEDICAL SCIENCES (KARAD)<br />
                  MAHATMA GANDHI INST. OF MEDICAL SCIENCES (WARDHA)<br />
                  VEDANTA INST. OF MEDICAL SCIENCES<br />
                  SMBT MEDICAL COLLEGE<br />
                  PADMASHREE DR. DY PATIL MEDICAL COLLEGE (NAVI MUMBAI)<br />
                  VIKHE PATIL INST. OF MEDICAL SCIENCES<br />
                  B.K.L. WALAWALKAR RURAL MEDICAL COLLEGE<br />
                  ASHWINI RURAL MEDICAL COLLEGE<br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in MAHARASHTRA</a></td>
                <td>
                  ST JOHN'S MEDICAL COLLEGE<br />
                  DR B.R AMBEDKAR MEDICAL COLLEGE<br />
                  KEMPEGOWDA INST. OF MEDICAL COLLEGE <br />
                  M.S RAMAIHA MEDICAL COLLEGE<br />
                  M.V.J MEDICAL COLLEGE<br />
                  VYDEHI INST. OF MEDICAL SCIENCE<br />
                  A.J INST. OF MEDICAL SCIENCES AND RESEARCH<br />
                  SEI BASAVESHWARA MEDICAL COLLEGE<br />
                  SEI BASAVESHWARA MEDICAL COLLEGE<br />
                  SEI BASAVESHWARA MEDICAL COLLEGE<br />
                  AL.AMEEN MEDICAL COLLEGE<br />
                  S. NIJALINGAPPA MEDICAL COLLEGE AND RESEARCH<br />
                  MAHADEVAPPA RAMPURE MEDICAL COLLEGE<br />
                  NAVODAYA MEDICAL COLLEGE<br />
                  FATHER MULLER INST. OF MED. EDUCATION<br />
                  K.VENKATARAMANA GOWDA MEDICAL COLLEGE<br />
                  JAYA JAGADGURU MEDICAL COLLEGE<br />
                  SHYMANURU SHIVASHANKARAPPA MEDICAL COLLEGE<br />
                  SAPTHAGIRI INST OF MEDICAL SCIENCES<br />
                  SRINIVASA INST. OF MEDICAL RESEARCH CENTER<br />
                  SUBBAIAH INST. OF MEDICAL SCIENCES<br />
                  BGS GLOBAL INST. OF MEDICAL SCIENCES<br />
                  KANACHUR INST. OF MEDICAL SCIENCES<br />
                  EAST POINT COLLEGE OF MEDICAL SCIENCES<br />
                  SHRIDEVI INST. OF MEDICAL SCIENCES<br />
                  THE OXFORD MEDICAAL COLLEGE &amp; HOSPITAL<br />
                  AKASH INST. OF MEDICAL SCIENCES<br />
                  G R MEDICAL COLLEGE &amp; RESEARCH<br />
                  KHAJA BANDE NAVAZ INST. OF MEDICAL SCIENCES<br />
                  SDM COLLEGE OF MEDICAL SCIENCES<br />
                  ADICHUNCHANAGIRI INST. OF MEDICAL SCIENCES<br />
                  DR. CHANDRAMMA DAYANAND SAGAR COLLEGE<br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in UTTAR PRADESH</a></td>
                <td>
                  SUBH AARTI MEDICAL COLLEGE (MERUTH)<br />
                  MUZAFFARNAGAR MEDICAL COLLEGE<br />
                  SARASWATI MEDICAL COLLEGE (HAPUR)<br />
                  RAM MURTI MEDICAL COLLEGE (BARAELY)<br />
                  RAMA MEDICAL COLLEGE (HAPUR)<br />
                  GS MEDICAL COLLEGE<br />
                  K.D. MEDICAL COLLEGE , (MATHURA)<br />
                  HERITAGE INST. OF MEDICXAL SCIENCES(VARANSI)<br />
                  KRISHNA MOHAN MEDICAL COLLEGE (MATHURA)<br />
                  MAYO INST. OF MEDICAL SCIENCES (BARABANKI)<br />
                  PRASASD INST. OF MEDICAL SCIENCES (LUCKNOW)<br />
                  RAJSHREE MEDICAL INST, (BARELIY)<br />
                  RAMA MEDICAL COLLEGE (KANPUR)<br />
                  ROHILKHAND MEDICAL COLLEGE (BAREILY)<br />
                  NATIONAL CAPITAL , (MEERUTH)<br />
                  UNITED INSTITUTE PRAYAGRAJ<br />
                  NOIDA INTERNATIONAL GAUTAM BUDDHANAGAR<br />
                  NRAINA MED. COLLEGE KANPUR<br />
                  HIND INST. OS MEDICAL SCIENCES, (BARABANKI)<br />
                  HIND INST. OF MEDICAL SCIENCES, (SITAPUR)<br />
                  TSM MEDICAL COLLEGE ,(LUCKNOW)<br />
                  VARUN ARJUN MEDICAL COLLEGE, (SHAJAHANPUR)<br />
                  VANKTESWARA AMROHA<br />
                  SARASWATI MEDICAL COLLEGE (UNNAO)<br />
                  SOMS (SHARDA UNIVERSITY), GREATER NOIDA<br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in ANDHRA PRADESH</a></td>
                <td>
                  Alluri Sitaramaraju Academy of Medical Sciences, Eluru<br />
                  Narayana Medical College, Nellore<br />
                  PES Inst. Of Medical Sciences and Research, Kuppam<br />
                  Dr. Pinnamaneni Siddhartha Inst. of Medical Sciences<br />
                  GSL Medical College, Rajahmundry<br />
                  Katuri Medical College, Guntur<br />
                  Maharajah Inst. of Medical Sciences, Vizianagaram<br />
                  NRI Medical College, Guntur<br />
                  Konaseema Institute of Medical Sciences<br />
                  Santhiram Medical College, Nandyala<br />
                  Fathima Institute of Medical Sciences, Kadapa<br />
                  Great Eastern Medical School and Hospital, Srikakulam<br />
                  NRI Institute of Medical Sciences, Visakhapatnam<br />
                  Viswabharathi Medical College, Kurnool<br />
                  GITAM Inst. of Medical Sciences and Research, Visakhapatnam<br />
                  Apollo Inst. of Medical Sciences and Research, Chittoor<br />
                  Gayathri Vidya Parishad Inst. of Health Care, Visakhapatnam<br />
                  Nimra Institute of Medical Sciences, Vijayawada<br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in GUJARAT</a></td>
                <td>
                  PRAMUKHSWAMI MEDICAL COLLEGE, KARMSAD<br />
                  CU SHAH MEDICAL COLLEGE, SURENDRA NAGAR<br />
                  SBKS MEDICAL INST. &amp; RESEARCH CENTRE, VADODARA<br />
                  GUJARAT ADANI INST. OF MEDICAL SCIENCES, BHUJ<br /><br />
                  GCS MEDICAL COLLEGE, AHMEDABAD PARUL INST. OF MEDICAL SCIENCES
                  &amp; RESEARCH, VADODARA<br />
                  DR. MK SHAH MEDICAL COLLEGE &amp; RESEARCH CENTRE,
                  AHMEDABAD<br />
                  BANAS MEDICAL COLLEGE AND RESEARCH INST. PALANPUR<br />
                  ZYDUS MEDICAL COLLEGE &amp; HOSPITAL, DAHOD<br />
                  DR. ND DESAI FACULTY OF MEDICAL SCIENCE AND RESEARCH,
                  NADIADNOOTAN MEDICAL COLLEGE AND RESEARCH CENTRE, VISNAGAR<br />
                  SHANTABAA MEDICAL COLLEGE, AMRELI<br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in TAMILNADU</a></td>
                <td>
                  Annapoorna Medical &amp; Hospital, Salem<br />
                  Chengalpattu Medical College, Kanchipuram<br />
                  Christan Medical College, Vellore<br />
                  Dhanalakshmi Srinivasan Medical College, Perambalur<br />
                  Indira Medical College &amp; Hospital, Thiruvallur<br />
                  Karpaga Vinayaga Inst. of Medical Sciences, Kanchipuram<br />
                  Karpagam Faculty of Medical Sciences &amp; Research,
                  Coimbatore<br />
                  KMCH Inst. of Health Sciences &amp; Research, Coimbatore<br />
                  Madha Medical College &amp; Hospital, Chennai<br />
                  Melmaruvathur Adhiparasakthi Inst. of Medical Sciences,
                  Kanchipuram<br />
                  Panimalar Medical College Hospital &amp; Research Institute,
                  Chennai<br />
                  PSG Institute of Medical Sciences, Coimbatore<br />
                  Sree Mookambika Inst. of Medical Sciences, Kanyakumari<br />
                  Sri Muthukumaran Medical College, Chennai Trichy SRM Medical
                  College Hospital &amp; Research Center<br />
                  Velammal Medical College Hospital &amp; Research Inst,
                  Madurai<br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in KERALA</a></td>
                <td>
                  Jubilee Mission Medical College and Research Institute,
                  Thrissur<br />
                  Amrita School of Medicine, Kochi<br />
                  Dr Somervell Memorial CSI Medical College and Hospital,
                  Karakonam<br />
                  SGMC Venjaramoodu - Sree Gokulam Medical College<br />
                  AIMS Thrissur - Amala institute of Medical Sciences<br />
                  Azeezia Medical College, Meeyannoor<br />
                  Pushpagiri Institute of Medical Science and Research Centre,
                  Thiruvalla<br />
                  Travancore Medical College, Kollam<br />
                  Believers Church Medical College Hospital, Thiruvalla<br />
                  Karuna Medical College, Palakkad<br />
                  KMCT Medical College, Manassery<br />
                  Malankara Orthodox Syrian Church Medical College,
                  Kolenchery<br />
                  Sree Uthradom Thirunal Academy of Medical Sciences, Vencode<br />
                  Mount Zion Medical College Hospital, Ezhamkulam<br />
                  DM WIMS Wayanad - DM WIMS Medical College and Hospital<br />
                  Malabar Medical College Hospital and Research Centre,
                  Modakkallur<br />
                  Al-Azhar Medical College and Super Speciality Hospital,
                  Thodupuzha<br />
                  Kannur Medical College, Anjarakandy<br />
                  MES Academy of Medical Sciences, Malaparamba<br />
                  SNIMS Ernakulam - Sree Narayana Institute of Medical
                  Sciences<br />
                  PK Das Institute of Medical Sciences, Ottapalamv
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in WEST BENGAL</a></td>
                <td>
                  KPC Medical College and Hospital, Jadavpur<br />
                  IQ City Medical College and Narayana Multispeciality Hospital,
                  Durgapur<br />
                  Shri Ramkrishna Inst. of Medical Sciences and Sanaka
                  Hospitals, Durgapur<br />
                  Jagannath Gupta Inst. of Medical Sciences and Hospital,
                  Kolkata<br />
                  ICARE Institute of Medical Science and Research , Haldia<br />
                  Gouri Devi Institute of Medical Sciences and Hospital,
                  Durgapur<br />
                  Regional Institute of Ophthalmology, Kolkata<br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in CHATTISGARH</a></td>
                <td>
                  SSIMS Bhilai - Shri Shankaracharya Institute of Medical
                  Science<br />
                  CCM Medical College, Durg
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in DELHI</a></td>
                <td>
                  HIMSR New Delhi - Hamdard Institute of Medical Sciences and
                  Research<br />
                  ACMS Delhi - Army College of Medical Sciences
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in SIKKIM</a></td>
                <td>
                  SMIMS Gangtok - Sikkim Manipal Institute of Medical Sciences
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in TRIPURA</a></td>
                <td>
                  Tripura Medical College and DR BRAM Teaching Hospital,
                  Agartala
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in DEEMED COLLEGES</a></td>
                <td>
                  GITAM Visakhapatnam :20,75,700/-<br />
                  IMS SUM Host., Bhubaneswar :17,90,000/-<br />
                  Kalinga KIMS, Bhuaneswar :16,00,000/-<br />
                  Hamdard HIMSR, New Delhi :14,00,000/-<br />
                  SBKS Vidyapeeth :15,95,000/- <br />
                  MM Inst. Mullana, Ambala :15,50,000/-<br />
                  Manipal TATA, Jamshedpur :16,19,000/-<br />
                  B.L.D.E University, Bijapur :18,00,000/-<br />
                  Jawahar Lal Nehru Med. Col, Belgavi :18,28,800/-<br />
                  JSS Medical College, Jagadguru :18,50,000/-<br />
                  K.S Hegde, Mangaluru :16,80,000/-<br />
                  Kasturba KMC, Manipal :17,70,000/-<br />
                  Kasturba KMC, Mangalore :17,70,000/-<br />
                  Raja Rajeswari Bengaluru :23.00,000/-<br />
                  SDU Medical College, Kolar :15,50,000/-<br />
                  Sri Siddhartha Academy T Begur:15,77,000/-<br />
                  Sri Siddhartha, Tumkur :15,65,750/-<br />
                  Yenepoya, Mangalore :17,50,000/-<br />
                  JGMM Medical college Hubballi :14,35,000/-<br />
                  Amrita Inst. Of med. Sc, Kochi :18,00,000/<br />
                  Bharti Vidyapith, Pune : 20,31,900/-<br />
                  Bharti Vidyapith, Sangli :19,07,325/-<br />
                  Dr. DY Patil , Pune :25,00,000/-<br />
                </td>
              </tr>
              <tr style="color: #000">
                <td><a href="punjab_seats.php">MBBS in DEEMED COLLEGES</a></td>
                <td>
                  Dr. DY Patil, Navi Mumbai :26,00,000/-<br />
                  Dr. DY Patil , Kolhapur:20,60,000/-<br />
                  JLN Datta Meghe, Wardha :21,75,000/-<br />
                  Krishna Inst. Of Med. Sci, Karad :22,50,000/-<br />
                  MGM Medical College, Aurangabad :20,00,000/-<br />
                  MGM Medical College, Navi Mumbai :20,00,000/-<br />
                  Rural Med. Col PIMS, Loni :16,25,000/-<br />
                  Symbiosis M.C for Women, Pune :10,00,000/-<br />
                  Datta Meghe IMS, Nagpur :21,75,000/-<br />
                  Aarupadai Veedu, Puducherry :19,50,000/-<br />
                  Mahatma Gandhi, Puducherry :22,00,000/-<br />
                  Sri Lakshmi Narayan, Puducherry :22,00,000/-<br />
                  Vinayak Mission, Karaikal :18,50,000/-<br />
                  ACS Med.Col, Chennai :23,00,000/-<br />
                  Meenakshi Med. Col, Chennai :22,50,000/-<br />
                  Saveetha Medical College Chennai :24,75,000/-<br />
                  Shri Sathya Sai , Kancheepuram :20,00,000/-<br />
                  Sree Balaji , Chennai :25,00,000/-<br />
                  Chettinad, Kancheepuram :24,50,000/-<br />
                  Sri Ramachandra, Chennai :25,00,000/-<br />
                  SRM Med. Col, Chennai :25,00,000/-<br />
                  Vinayak Mission, Salem :20,00,000/-<br />
                  VELS Medical College &amp; Hospital :19,00,000/-<br />
                  Bhaarat MC Chennai :23,00,000/-<br />
                  Sri Lalithambigai Med Col. :19,00,000/-<br />
                  Santosh medical College, Ghaziabad :24,00,000/-<br />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="w3layouts_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 w3layouts_getin_info">
          <h3 style="font-size: 32px; color: #007BFF;">Don’t Miss Your MBBS Admission</h3>
        </div>
        <div class=" mt-2  col-lg-3 w3layouts_getin">
            <span style="background-color: red; padding: 18px; border-radius: 0.5rem;">
              <a href="/submit_form" style="color: white; text-decoration: none;">Contact Us</a>
            </span>
          </div>
          
          
      </div>
    </div>
  </section>
  

  <section class="team py-5">
    <div class="container py-md-4 mt-md-3">
      <div class="col-lg-12">
        <h3  style="color: rgb(7, 160, 45); font-size: 32px; margin-top: 10px; margin-bottom: 10px;">
          Which place is best for studying MBBS abroad at low cost?
        </h3>
        <p class="mb-4 ">
          Every medical aspirant have the same question : which is the best
          place to study MBBS at Low Cost ? As compared to India&nbsp;MBBS in
          Abroad&nbsp;is less expensive in nature. You can get plenty of options
          for studying MBBS under budget of Rs. 20-30 lakhs. The most popular
          destinations for MBBS in Abroad are Kyrgyzstan, Kazakhstan,
          Philippines, Russia, Ukraine, China, and Bangladesh among Indian
          students. Indian Students are choosing Abroad Medical
          Universities&nbsp;because of its Global Recognition , Low Cost &amp;
          good exposure. As they complete their medical studies from Abroad,
          wishing to practice in India must appear and clear the license
          exam.<br />
          Previously, students returning to India have to
          undergo&nbsp;FMGE&nbsp;i.e.,&nbsp;Foreign Medical Graduate
          Examination. in order to acquire the license to practice as Doctor<br />
          But Now, National Exit Test will be the licensing exam introduced by
          the National Medical Commission Bill 2019<br />
          It is a single-window examination that is to be implemented by 2022.
          It is a mandatory examination for students completing MBBS from India
          and Abroad It will also set a standard for medical practitioners in
          India. The students from India as well as Abroad for holding the
          license to practice as doctors in the country have to appear for the
          NExT exam.<br />
        </p>
        <p>
          <strong class="text-center"
            >Contact ADA Abroad Expert Counselors for more details regarding selection of best suitable
            university for you : Considering Education Quality , Budget , Course
            duration , MCI Passing Ratio , Clinical Exposure etc</strong
          >
        </p>
        <h3   style="color: rgb(7, 160, 45); font-size: 32px; margin-top: 10px; margin-bottom: 10px;">Study MBBS Abroad in English</h3>
        <p>
          Check out the countries where you can study MBBS abroad in English.
        </p>
        <table class="table table-bordered table-dark mt-4">
          <thead>
            <tr>
              <th>Country</th>
              <th>Offical Language</th>
              <th>Medium of Instruction</th>
              <th>Need to learn Local Language</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MBBS in Philippines</td>
              <td>English</td>
              <td>English</td>
              <td>No, as English is local language</td>
            </tr>
            <tr>
              <td>MBBS in Russia</td>
              <td>Russian</td>
              <td>English &amp; Russian</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>MBBS in Ukraine</td>
              <td>Ukrainian</td>
              <td>English</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>MBBS in China</td>
              <td>Mandarin</td>
              <td>English</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>MBBS in Bangladesh</td>
              <td>Bengali</td>
              <td>English</td>
              <td>Need to learn Bengali</td>
            </tr>
            <tr>
              <td>MBBS in Kyrgyzstan</td>
              <td>Russian</td>
              <td>English</td>
              <td>Yes</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

</body>

{% endblock body %}
